@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(218, 192, 49, 0.918);
}

.constainer{
    width: 500px;
    border-radius: 10px;
    padding : 20px 25px 15px;
    background-color: #fff;
}